.custom-button {
    background-color: #0a1264; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    width: 80%; /* Adjust width as needed */
    height: 80%; /* Increase height */
}
